.sidebar-container {
    width: 250px; 
    height: 100%; 
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; 
    z-index: 100; 
  }
  
  .join-group-button,
  .create-group-button {
    margin-bottom: 10px; 
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .join-group-button {
    position: sticky; 
    top: 20px; 
  }
  
  .create-group-button {
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
    right: 20px; 
  }