.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header-container {
  padding: 15px;
}

.group-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 15px;
}

.create-group-button {
  padding: 15px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}
